html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
#map-canvas {
    height: 100%;
    z-index: -1;
}

#sidebar {
	width:200px;
	height:100%;
	position:absolute;
	background:#151719;
	top: 0px;
	left: -200px;
}
#sidebar ul {
	margin: 0px;
	padding: 0px;
}
#sidebar ul li{
	color:white;
	padding:10px;
	width:180px;
	border-bottom:2px solid black;
	display:block;
}
#btn {
	padding:20px;
	margin:20px;
	position:absolute;
	left:0px;
}
#btn span{
	width:25px;
	height:5px;
	background:black;
	display:block;
	margin-bottom:4px;
}